* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: hsl(204, 43%, 93%);
  color: #fff;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

/*
==== LAYOUT 
*/
.container {
  background-color: #fff;
  border-radius: 5px;
  max-width: 90%;
  margin: 3rem auto;
}

.footer {
  text-align: center;
  font-size: 0.85rem;
  padding: 1rem;
  color: #000;
}

/*
==== Typography 
*/

.section-title {
  font-size: 1.135rem;
}

.btn {
  border: 0;
  border-radius: 5px;
  padding: 0.65rem;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
}

.btn-primary {
  background-color: hsl(71, 73%, 54%);
  font-size: 1rem;
  margin-top: 0.75rem;
  transition: all 0.25s;
}

.btn-primary:hover,
.btn-primary:focus {
  transform: translateY(-4px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/*
==== Components 
*/

.header {
  padding: 1.5rem;
}

.header__title {
  color: hsl(179, 62%, 43%);
  font-size: 1.35rem;
  margin-bottom: 0.75rem;
}

.header__subtitle {
  color: hsl(71, 73%, 54%);
  margin-bottom: 0.8rem;
}

.header__text {
  font-size: 0.75rem;
  color: hsl(218, 22%, 67%);
}

.main {
  color: #fff;
}

.subscription {
  background-color: hsl(179, 62%, 43%);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.subscription__price {
  color: rgba(255, 255, 255, 0.7);
}

.subscription__price > span {
  font-size: 2rem;
  margin-right: 1rem;
  color: #fff;
}

.subscription__text {
  margin-bottom: 1rem;
}

.about {
  background-color: hsl(179, 62%, 60%);
  padding: 1.5rem;
}

.about__text {
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.7);
}
